@{
  Layout = "_Layout";
}

@model PSST.Models.Flavor

<h4>Add a Treat to this Flavor: @Html.DisplayFor(model => model.FlavorDescription)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
}
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>