@{
  Layout = "_Layout";
}

@using PSST.Models;

<h1>Welcome to an Incredibly Tasty Nightmare!</h1>

<hr>

<h4>FLAVORS?</h4>
@if (Model["flavors"].Length == 0)
{
  <p>WHAT HAVE YOU DONE TO MY FLAVOR!?!</p>
} 
<ul>
  @foreach (Flavor flavor in Model["flavors"])
  {
    <li>@Html.ActionLink(@flavor.FlavorDescription, "Details", "Flavors", new { id = @flavor.FlavorId})</li>
  }
</ul>

<h4>TREATS?</h4>
@if (Model["treats"].Length == 0)
{
  <p>WHERE ARE MY TREATS?!?</p>
} 
<ul>
  @foreach (Treat treat in Model["treats"])
  {
    <li>@Html.ActionLink(@treat.TreatDescription, "Details", "Treats", new { id = @treat.TreatId})</li>
  }
</ul>

<hr>
@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Add a new flavor", "Create", "Flavors")</p>
  <p>@Html.ActionLink("Add new treat", "Create", "Treats")</p>
  <p>@Html.ActionLink("View flavors", "Index", "Flavors")</p>
  <p>@Html.ActionLink("View treats", "Index", "Treats")</p>
}
<p>Account<br>@Html.ActionLink("Register / Login", "Index", "Account")</p>