@{
  Layout = "_Layout";
}

@using PSST.Models

<h1 class="title">
  Welcome to an incredibly tasty nightmare!
</h1>
<hr>

@* <h1>Treats</h1>
<hr>
<div class="card"> 
  @if (@Model.Count == 0)
  {
    <h3>WHY ARE THERE NO TREATS?!?! WHAT HAVE YOU DONE??</h3>
  } 
  else
  {
    <h6 class="card-header">
      <div class="hstack gap-3">
        Treat Name
        <div class="vr"></div>
        Treat Description
      </div>
    </h6>
  }

  <ul>
    @foreach(Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.TreatName}  | {treat.TreatDescription}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
</div>

<div class="row align-items-start">
  <div class="col">
    <h4>Treats</h4>
    @if (@Model.Count == 0)
    {
      <p>PLEASE FEED ME TREAT DATA!</p>
    }
    <ul>
      @foreach (Treat treat in Model)
      {
      <li>@Html.ActionLink(@treat.TreatName, "Details", "Treats", new { id = @treat.TreatId})</li>
      }
    </ul>
  </div>

<div class="card">
@if (@Model.Count == 0)
{
  <h3>INPUT FLAVORS!</h3>
} 
else
{
  <h6 class="card-header">Flavors</h6>
  <ul>
    @foreach (Flavor flavor in Model["Flavor"])
    {
          <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
}
</div>
</div> 
<br>
<div class="row align-items start">
  <div class="col">
    <p>@Html.ActionLink("Manage treats", "Index", "Treats", null, new { @class = "btn btn-light" })</p>
  </div>
  <div class="col">
    <p>@Html.ActionLink("Manage flavors", "Index", "Flavors", null, new { @class = "btn btn-light" })</p>
  </div>
</div>

<hr><br>

<p>@Html.ActionLink("Manage Account", "Index", "Account", null, new { @class = "btn btn-secondary" })</p> *@


<div class="text-center container-wrapper">
    <div class="section">
        <h2 class="mb-3">Treats</h2>
        <p>
            @Html.ActionLink("Manage Treats", "Index", "Machines", new { @class = "btn btn-primary" })
        </p>

        @if (Model["treats"] == null || Model["treats"].Length == 0)
        {
            <p>No treats have been added yet!</p>
        }
        else
        {
            <ul class="list-group">
                @foreach (Treat treat in Model["treats"])
                {
                    <li class="list-group-item">
                         @Html.ActionLink(@treat.TreatName, "Details", "Treats", new { id = @treat.TreatId }, new { @class = "link-item" }) 
                    </li> 
                }
            </ul>
        }
    </div>

    <div class="section">
        <h2 class="mb-3">Flavors</h2>
        <p>
            @Html.ActionLink("Manage Flavors", "Index", "Flavors", new { @class = "btn btn-primary" })
        </p>

        @if (Model["flavors"] == null || Model["flavors"].Length == 0)
        {
            <p>No Flavors have been added yet!</p>
        }
        else
        {
            <ul class="list-group">
                @foreach (Flavor flavor in Model["flavors"])
                {
                    <li class="list-group-item">
                        @Html.ActionLink(@flavor.FlavorName, "Details", "Flavors", new { id = @flavor.FlavorId }, new { @class = "link-item" })
                    </li>
                }
            </ul>
        }
    </div>