@{
  Layout = "_Layout";
}

@using PSST.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@model Treat

<h2>Add Flavor</h2>
<hr>

@using (Html.BeginForm())
{
  @Html.Hidden("TreatId", (int)ViewBag.TreatId)

  @Html.Label("Flavor: ")
  @Html.DropDownListFor(model => model.FlavorId, (SelectList)ViewBag.FlavorName)
  <br />
  <br />
  <input type="submit" value="Add Flavor" />
  <br>
  <br>
  <p>@Html.ActionLink("Back to List", "Index", "Treats", null, new { @class = "btn btn-light" })</p>
  <p>@Html.ActionLink("Add a New Flavor", "Create", "Flavors", null, new { @class = "btn btn-light" })</p>
}