@{
  Layout = "_Layout";
}

@using PSST.Models
@model PSST.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>Treat Name: @Html.DisplayFor(model => model.TreatDescription)</h3>  

@if(@Model.JoinEntities.Count == 0)
{
  <p>FLAVORLESS TREAT!! WHAT HAVE YOU DONE?</p>
}
else
{
  <h4>This Treat has the following flavors matched to it:</h4>
  <ul>
    @foreach(FlavorTreat join in Model.JoinEntities)
    {
      <li>Flavor: @join.Flavor.FlavorDescription</li>
      @using (Html.BeginForm("DeleteJoin", "Flavors"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Delete" class="btn btn-primary btn-sm"/>
      }
    }
  </ul>
}
<p>@Html.ActionLink("Add a flavor to this treat", "AddFlavor", new { id = Model.TreatId })</p>

<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Back to list", "Index", "Flavors")</p>