@{
  Layout = "_Layout";
}

@model PSST.Models.Treat

<h4>Edit this treat: @Html.DisplayFor(model => model.TreatDescription)</h4>
<div class="col">
<p>@Html.ValidationMessageFor(model => model.TreatDescription, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.TreatDescription, new { htmlAttributes = new { @class = "form-label"}})
    @Html.EditorFor(model => model.TreatDescription, new { htmlAttributes = new { @class = "form-control"}})
    <br>
    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
  }
  <br>
  <p>@Html.ActionLink("Back to list", "Index")</p>
</div>